

@media only screen and (min-width: 768px) {
    .form-group.sideBySide {
            display: flex;
    
    }
    .form-group.sideBySide>*:first-child {
        margin-right: 10px;
    }

}
@media only screen and (max-width: 1368px) {
    .headerLogo img {
        width: 120px;
    }
    
    .headerContent h1 {
        font-size: 18px;
        color: #000;
        margin-top: 10px;
        line-height: 20px;
    }

    .headerLogoTwo img {
        width: 50px;
        margin-top: 5px;
    }

}

@media only screen and (max-width: 767px) {

    .form-group.d-flex.mb-3.fromBlock,
    select.form-select.mb-3  {
        margin-bottom: 10px !important;
    }

    .fromBlock.form-group.d-sm-flex.mb-2 {
        display: flex;
    }
   
    select.form-select.formMargin {
        margin: 0 8px;
    }
   
    input.form-control.mb-3 {
        margin-bottom: 10px !important;
    }
    
    .headerLogo img {
        width: 80px;
        margin-top: 20px;
    }
    .headerContent h1 {
        font-size: 22px;
        margin-top: 25px;
    }

    .headerLogoTwo img {
        width: 80px;
        margin-top: 10px;
      
    }

    .formText h1 {
        font-size: 30px;
        
    }

    .formText p {
        font-size: 20px;
        line-height: 5px;
        
        margin-bottom: 20px;
    }

    .form-control, .form-select {
        
        padding: 5px 15px;
    }
    .btn {
        
        padding: 10px 20px;
        
        font-size: 18px;
    }
    .overflowTop {
        padding: 25px 20px;
    }
    .footerSection .footerText {
    
        width: 90%;
    }
   
   
}

@media only screen and (max-width: 468px){

    select.form-select.nMargin.mb-3 {
        margin-bottom: 10px !important;
    }
   
    .mRight{
        margin-right: 5px;
    }
    .formWrapper {
        margin-bottom: 25px;
    }
    .headerLogo img {
        width: 80px;
        margin-top: 15px;
    }
    .headerContent h1 {
        font-size: 18px;
        margin-top: 15px;
        line-height: 22px;
    }
    .headerLogoTwo img {
        width: 35px;
        margin-top: 0px;
    }
    .overflowTop {
        padding: 15px 15px;
    }
    .formText h1 {
        font-size: 25px;
    }
    .formText p {
        font-size: 18px;
        
    }
    .btn {
        padding: 5px 20px;
        font-size: 16px;
    }
    .form-control, .form-select {
        padding: 3px 15px;
    }
    .form-group.sideBySide {
        display: flex;
       
    }
  
    .headerContent.headerContentTwo.mt-3 {
      
        padding: 0 8px;
    }

    #hero-bg {
        background-position: 0 -20px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(../img/bg-header-mobile-v1.1.jpg);
    }
    
}

@media only screen and (min-width: 768px){
    .col-lg-6 {
        flex: 0 0 auto;
        width: 65%;
    }
    .col-xl-6 {
        width: 60%;
    }
}
